body {
    background-color: black;
    text-align: center;
}

#header {
   color: white;
   font-family: Verdana;
   font-size: 50px;
   font-weight: normal;
   text-align: center; 
}

#link {
    font-size: 16px;
    color: aquamarine;
    text-decoration: underline;
}