body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
   color: white;
   font-size: 50px;
   font-weight: normal;
   text-align: center; 
}

#link {
    font-size: 16px;
    color: aquamarine;
    text-decoration: underline;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

h4 {
    font-size: 21px;
    font-weight: 300;
    color: grey;
}

footer {
    text-align: right;
    color: gray;
}